<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Tổng sản phẩm</div>
            <div class="card-body">
                <h4 class="card-title">@ViewBag.TongSanPham</h4>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Tổng khách hàng</div>
            <div class="card-body">
                <h4 class="card-title">@ViewBag.TongKhachHang</h4>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-info mb-3">
            <div class="card-header">Tổng đơn hàng</div>
            <div class="card-body">
                <h4 class="card-title">@ViewBag.TongDonHang</h4>
            </div>
        </div>
    </div>
</div>